$z-input-error-color: #a94442;

//Primary Colors
$z-blue: #2167ae;
$dark-blue: #23366f;
$z-white: #eef0f1;
$light-dove: #e4e9ec;
$dove: #dde4e3;
$sand-stone: #dad2bd;
$light-blue: #91bfe3;

//System Colors
$primary-colour-light-dove: #dde4e3;
$system-colour-table-header: #d5e8f7;
$system-colour-table-background: #edf9fd;
$system-colour-positive: #428351;
$system-colour-negative: #cb4b40;
$system-colour-info: #2167ae;
$system-colour-disabled-text: #a3a3a3;
$system-colour-white: #ffff;
$system-colour-dark-grey: #3e3e3e;
$system-colour-dark: #000000;
$z-input-border: #c0c0c0;
$body-bg: #e5e5e5;
$table-border: #c4c4c4;
$system-input: #5d6162;
