$z-font-family: Frutiger, Verdana, Arial, Helvetica, sans-serif;
$z-font-size: 12px;
$z-form-font-size: 15px;
$z-index-loading-dots: 10;
$standard-circle-border-radius: 50%;
$z-input-error-spacing: 5px;

// ERROR
$z-input-error-spacing: 5px;
$z-input-error-color: #a94442;

//Primary Colors
$z-blue: #2167ae;
$dark-blue: #23366F;
$z-white:#EEF0F1;
$light-dove: #E4E9EC;
$dove: #DDE4E3;
$sand-stone: #DAD2BD;
$light-blue: #91BFE3;

//System Colors
$primary-colour-light-dove: #DDE4E3;
$system-colour-table-header: #D5E8F7;
$system-colour-table-background: #EDF9FD;
$system-colour-positive: #428351;
$system-colour-negative: #CB4B40;
$system-colour-info: #2167AE;
$system-colour-disabled-text: #A3A3A3;
$system-colour-white: #FFFF;
$system-colour-dark-grey: #3E3E3E;
$system-colour-dark: #000000;
$z-input-border: #C0C0C0;
$body-bg: #E5E5E5;
$table-border: #C4C4C4;
$system-input: #5D6162;

// SIZES
$size-icon: 9px;
$icon-size-20: 20px;
$space6: 6px;
$space14: 14px;
$space16: 16px;
$space18: 18px;
$space20: 20px;
$space24: 24px;
$space30: 30px;
$space36: 36px;
$space40: 40px;
$space48: 48px;
$space50: 50px;

$position-relative: relative;
$position-absolute: absolute;
$position-center: center;
$table-border-custom: 1px solid #2167ae;
$cell-border: 1px solid #c4c4c4;
